*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f4f6f8;
}

button{
padding:8px 15px;
background:#1976d2;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#125ea7;
}

input{
padding:10px;
border:1px solid #ccc;
border-radius:5px;
}